<article class="jumbotron mt-3">
  <h1 class="h2"><%= @product.name %></h1>
  <h2 class="h3 text-muted font-weight-normal"><%= @product.age_low %> – <%= @product.age_high %> <%= @product.age_units %></h2>
  <p class="lead">
    <%= @product.description %>
  </p>
	<%# If you upate the route file so new order is nested inside product you can get a cleaner path where product_id is in the url and not a param %>
  <%= link_to new_order_path({ product_id: @product.id }.merge(params.permit(:for))), class: "btn btn-primary btn-lg text-uppercase text-tracked font-weight-bolder"  do %>
    Buy Now <%= number_to_currency(@product.price_cents / 100) %>
  <% end %>
	<% if @child.present? %>
		<p class="mt-2">Shopping for <%= @child.full_name %> <%= link_to "x", product_path(@product) %></p>
	<% else %>
		<p class="mt-2">Search for a child in the <%= link_to "Gift Registry", registry_search_path(redirect_path: product_path(@product)) %></p>
	<% end %>
</article>
<nav class="pb-4">
  <%= link_to products_path, class: "text-normal font-weight-bolder" do %>
    &larr; Back to Products
  <% end %>
</nav>
